@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Cascadia Code';
    src: './assets/fonts/CascadiaCodePL.ttf';
    display: swap
}

@font-face {
    font-family: 'Cascadia Code';
    font-style: italic;
    src: './assets/fonts/CascadiaCodePLItalic.ttf';
    display: swap;
}

html {
    scroll-behavior: smooth;
}

.ql-editor {
    border-radius: 5px;
    font-family: 'Cascadia Code';
    background: white;
    height: 100px;
    color: black;
}
